<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <b>Amigos</b>
  <ng-container *ngFor="let user of friends; let i = index" >    
    <p (click)="goToConversation(user)" *ngIf="user.friend" >
      {{ i }}. {{ user.nick }} - {{ user.email }}
    </p>         
  </ng-container>
  <b>No Agregados</b>
  <ng-container *ngFor="let user of friends; let i = index" >    
    <p *ngIf="!user.friend" >
      {{ i }}. {{ user.nick }} - {{ user.email }}
    </p>           
  </ng-container>  
  <button ion-button (click)="goToConversation()">Ir a Conversation</button> 
  <button ion-button (click)="goToLogin()">Ir a Conversation</button> 
</ion-content>
